

 <h1 class ="heading"> YOUR DOORBOARDS </h1>
  <button mat-raised-button (click)="createBoard()" > CREATE BOARD </button>



  <div fxLayout="row">
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredOwners; else ownersError" >
      <div [ngSwitch]="viewType">
        <div *ngSwitchCase="'card'"  fxLayout="row wrap" fxLayoutGap="10px" class="owner-doorboard-cards-container">
          <app-owner-card *ngFor= "let owner of filteredOwners" class="owner-doorboard-card" [owner]="owner" fxFlex="1 1 280px"></app-owner-card>
        </div>
      </div>
    </div>

    <ng-template #ownersError>
      <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="doorboard-card-error">
        <mat-error>
          There was a problem loading your DoorBoard(s). Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
        <mat-error>
          Please wait a bit and try again or start the server.
        </mat-error>
      </div>
    </ng-template>

