<html>

<head>

</head>

<body>

  <button id="glogin">UMN LOGIN</button>

  Note: This image is currently poorly positioned as a place-marker in case we
  want to use it to make it clearer to users that they are to use their
  university accounts

  <img src="./../../assets/images/MyU_150px.png">

</body>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card class="home-card">
      Welcome to Doorboard! Navigate to your owner page through the sidebar on the left. (For now)
    </mat-card>
  </div>
</div>
</html>
