.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.app-title {
  padding-left: 20px;
}


.app-navbar {
  position:absolute;
  right: 5%;
}

.main-content {
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
