.sidenav-container {
  height: 100%;
  margin: 0rem;
}

.sidenav {
  width: 256px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.app-title {
  padding-left: 0.7rem;
  font-size: medium;
}


.app-navbar {
  position:absolute;
  right: 3.5%;
}

.main-content {
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
