.doorBoard-card {
  margin: 10px;
}

.mat-radio-group{
  display:flex ;
  width:100%;
  font-size:5 rem;
  justify-content: space-between;
}

.gcal-embed {
  margin: 10px;
}

.search-card {
  margin: 10px;
}

.add-note {
  margin: 10px;
}

.list {
  margin: 10px;
}

.note-list-add-date {
  font-size: smallest;
}
