<div class="page">
  <div>
    <!--doorBoard card-->
    <mat-card class="doorBoard-card" *ngIf="this.doorBoard">
      <mat-card-header>
        <mat-card-title class="doorBoard-card-title">DoorBoard Info</mat-card-title>
      </mat-card-header>
      <mat-card-content id=nameField>
        Name: {{getName()}}
      </mat-card-content>
      <mat-card-content id=buildingField>
        Building: {{getBuilding()}}
      </mat-card-content>
      <mat-card-content id=officeNumberField>
        Office Number: {{getOfficeNumber()}}
      </mat-card-content>
      <mat-card-content id=emailField>
        E-mail: {{getEmail()}}
      </mat-card-content>
    </mat-card>

    <div *ngIf="compareSubs() | async">
      <!--New Note-->
    <app-add-note [doorBoard_id]="this.id" (newNoteAdded)="getNotesFromServer()" class="add-note">
    </app-add-note >
  </div>
  </div>

    <!--Notes-->
    <div fxFlex>
      <div class="grid-container">
            <div *ngIf="compareSubs() | async">
                <mat-radio-group  name="radioGroup" [(ngModel)]="noteStatus" (change)="radioChange($event)" id="note-status-select">
                  <mat-radio-button class="radioButton" value="active">Active</mat-radio-button>
                  <mat-radio-button class="radioButton" value="template">Template</mat-radio-button>
                  <mat-radio-button class="radioButton" value="draft">Draft</mat-radio-button>
                  <mat-radio-button class="radioButton" value="deleted">Deleted</mat-radio-button>
                </mat-radio-group>
             </div>
             <mat-card class="note-card" *ngFor="let note of this.filteredNotes">
               <mat-card-content>
              <p matLine class="note-list-body"> {{note.body}} </p>
              <p matLine class="note-list-expiration-date">{{note.expireDate}}</p>
              <p matLine class="note-list-add-date">Created on {{note.addDate | date:'MMM d'}} at {{note.addDate | date:'h:mm aa'}}</p>
            </mat-card-content>
            </mat-card>
      </div>
    </div>

  <div fxFlex>
    <!--google calendar and related-->
    <div class="grid-container">
    <div class="gcal-embed" *ngIf="this.doorBoard">
      <iframe [src]="this.GcalURL" style="border: 0" width="478" style="border: 0" height="700" frameborder="0"
        scrolling="auto"></iframe>
    </div>
    </div>
  </div>
</div>

