<div fxLayout="row wrap">

    <!--doorBoard card-->
    <mat-card class="doorBoard-card" *ngIf="this.doorBoard">
      <mat-card-header>
        <mat-card-title class="doorBoard-card-title">DoorBoard Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content id=nameField>
        Name: {{getName()}}
      </mat-card-content>
      <mat-card-content id=buildingField>
        Building: {{getBuilding()}}
      </mat-card-content>
      <mat-card-content id=officeNumberField>
        Office Number: {{getOfficeNumber()}}
      </mat-card-content>
      <mat-card-content id=emailField>
        E-mail: {{getEmail()}}
      </mat-card-content>
    </mat-card>



    <!--Notes-->
    <div fxFlex>
      <mat-card class="list">
        <mat-card-content>
          <mat-list class="note-nav-list">
            <h3 mat-subheader></h3>

            <div *ngIf="compareSubs() | async">

                <mat-radio-group  name="radioGroup" [(ngModel)]="noteStatus" (change)="radioChange($event)" id="note-status-select">
                  <mat-radio-button value="active">Active</mat-radio-button>
                  <mat-radio-button value="template">Template</mat-radio-button>
                  <mat-radio-button value="draft">Draft</mat-radio-button>
                  <mat-radio-button value="deleted">Deleted</mat-radio-button>
                </mat-radio-group>

               <div *ngIf="noteStatus!='deleted'">
                <!--New Note-->
              <app-add-note [doorBoard_id]="this.id" (newNoteAdded)="getNotesFromServer()" class="add-note">
              </app-add-note >
            </div>
            </div>


            <mat-list-item *ngFor="let note of this.filteredNotes" class="note-list-item">
             <mat-card class="note-card">
              <p matLine class="note-list-body"> {{note.body}} </p>
              <p matLine class="note-list-expiration-date">{{note.expireDate}}</p>
              <p matLine class="note-list-add-date">Created on {{note.addDate | date:'MMM d'}} at {{note.addDate | date:'h:mm aa'}}</p>
            </mat-card>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxFlex ="end center">
    <!--google calendar and related-->
    <mat-card class="gcal-embed" *ngIf="this.doorBoard">
      <iframe [src]="this.GcalURL" width="800" style="border: 0" height="750" frameborder="0"
        scrolling="auto"></iframe>
    </mat-card>
  </div>

