<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card class="doorBoard-list-card">
      This is page is under construction currently! This page will allow access to individual doorBoard page.
    </mat-card>
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="doorBoard-list-title">DoorBoards</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <mat-label>Name</mat-label>
            <input matInput id="doorBoard-name-input" placeholder="Filter by name"
            [(ngModel)]="doorBoardName" (input)="updateFilter()">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Email</mat-label>
            <input matInput id="doorBoard-email-input" placeholder="Filter by email"
            [(ngModel)]="doorBoardEmail" (input)="updateFilter()">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Building</mat-label>
            <input matInput id="doorBoard-building-input" placeholder="Filter by building"
            [(ngModel)]="doorBoardBuilding" (input)="updateFilter()">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Office Number</mat-label>
            <input matInput id="doorBoard-officenumber-input" placeholder="Filter by office number"
            [(ngModel)]="doorBoardOfficeNumber" (input)="updateFilter()">
          </mat-form-field>
        </div>

        <br>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" id="view-type-radio"></mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="filteredDoorBoards" >
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->

      <!-- List view -->
      <mat-card class="'list'">
        <mat-card-content>
          <mat-nav-list class="doorBoard-nav-list">
            <h3 mat-subheader>DoorBoards</h3>
            <a mat-list-item *ngFor="let doorBoard of this.filteredDoorBoards" [routerLink]="['/doorBoards', doorBoard._id]" class="doorBoard-list-item">
              <h3 matLine class="doorBoard-list-name"> {{doorBoard.name}} </h3>
              <p matLine class="doorBoard-list-building"> {{doorBoard.building}} </p>
              <p matLine class="doorBoard-list-officenumber">{{doorBoard.officeNumber}}</p>
            </a>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
  </div>
</div>

<button mat-fab class="add-doorBoard-fab" matTooltip="Add DoorBoard" matTooltipPosition="left" routerLink="/doorBoards/new">
  <mat-icon class="md-24" aria-label="Add DoorBoard">add</mat-icon>
</button>

